<html>

<h2> Restablecer contrase単a. </h2>
<p> Hola {{name}}, tienes 20 minutos para hacer el cambio de contrase単a. </p>
<p> Ingresa a este link para cambiar tu contrase単a:
    <b> <a href="{{link}}"> Cambiar contrase単a </a> </b>
</p>

</html>