<html>

<h2>Nuevo usuario y contraseña generado </h2>
<p> Hola {{name}}, este es tu nuevo usuario y contraseña generados.
    Recuerda cambiar la contraseña en las siguientes 24 horas. </p>
<p> Ingresa con estas credenciales para iniciar sesión:
    <br>
    <b>  Usuario : {{credentials.emailUser}} </b>
    <br>
    <b>  Contraseña : {{credentials.passUser}} </b>
</p>

</html>